
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:10vh;
  padding: 2rem;
  border-top:1px solid var(--roxo-neon) ;
  white-space: nowrap;
}

footer p{
  font-size: clamp(1rem,2vw,2rem);
  color:var(--branco);
  text-align: center;
}

footer p i{
  padding: 0.5rem;
  color:var(--roxo-neon);
}





